[% USE raw %]
[% USE Asset %]
[% PROCESS 'i18n.inc' %]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title>[% FILTER collapse %]
    [% t("AutomateMarcImport") | html %] &rsaquo;
    [% t("Plugins") | html %] &rsaquo;
    [% t("Koha") | html %]
[% END %]</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body id="plugins_AutomateMarcImport" class="plugins">
[% WRAPPER 'header.inc' %]
    [% INCLUDE 'cat-search.inc' %]
[% END %]

[% WRAPPER 'sub-header.inc' %]
    [% WRAPPER breadcrumbs %]
        [% WRAPPER breadcrumb_item %]
            <a href="/cgi-bin/koha/plugins/plugins-home.pl?method=report">Plugins</a>
        [% END %]
        [% WRAPPER breadcrumb_item %]
            <span>Automate MARC Import Setting</span>
        [% END %]
        [% WRAPPER breadcrumb_item bc_active= 1 %]
            <span>Configuration</span>
        [% END %]
    [% END #/ WRAPPER breadcrumbs %]
[% END #/ WRAPPER sub-header.inc %]

<div class="main container-fluid">
    <div class="row">
        <div class="col-md-10 order-md-2 order-sm-1">
            <main>
                 [% IF op == 'add_form' || op == 'edit_form' %]
                     <h1>[% IF op == 'edit_form' %]Edit[% ELSE %]New[% END %] Automated MARC Import Setting</h1>
                    [% IF error_message %]
                        <div class="alert alert-danger">
                            <strong>Error:</strong> [% error_message | html %]
                        </div>
                    [% END %]
                    <form method="get" id="automate_marc_import_form">
                        <fieldset class="rows">
                            <legend>Transport ((S)FTP server)</legend>
                            <input type="hidden" name="class" value="[% CLASS %]"/>
                            <input type="hidden" name="method" value="[% METHOD %]"/>
                            <label for="selected_transport_id" class="required">Transport name: </label>
                            [% IF available_transport.count %]
                            <select name="selected_transport_id" id="selected_transport_id" class="select2 required" required="required">
                                <option value="">-- Select a transport --</option>
                                [% FOREACH transport IN available_transport %]
                                    <option value="[% transport.id %]"[% IF selected_transport_id == transport.id %] selected="selected"[% END %]>[% transport.name %]</option>
                                [% END %]
                            </select>
                            [% END %]
                            <span class="required">Required</span>
                            <div class="alert alert-info">
                                [% IF available_transport.count %]
                                Cannot find the (S)FTP server you are looking for? Consider <a href="/cgi-bin/koha/admin/sftp_servers.pl?op=add_form">adding</a> one.
                                [% ELSE %]
                                No (S)FTP servers found, would you like to <a href="/cgi-bin/koha/admin/sftp_servers.pl?op=add_form">add</a> one?
                                [% END %]
                            </div>
                        </fieldset>
                        <fieldset class="rows">
                            <legend>Profile</legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="profile_id" class="required">Profile name: </label>
                                    <select name="profile_id" id="profile_id" class="select2 required" required="required">
                                        <option value="">-- Select a profile --</option>
                                        [% FOREACH profile IN available_profiles %]
                                        <option value="[% profile.id %]"[% IF profile_id == profile.id %] selected="selected"[% END %]>[% profile.name %]</option>
                                        [% END %]
                                    </select>
                                    <span class="required">Required</span>
                                    <div class="hint">When you select a profile it pre-fills your form with profile values.</div>
                                    <div class="hint">Later you can modify your form and that's what matters on import.</div>
                                </div>
                                <div class="col-sm-6" id="profile_details_wrapper">
                                    <table style="margin:0" id="profile_details_table">
                                        <thead id="profile_details_thead">
                                            <th> Selected profile: details<th>
                                        </thead>
                                        <tbody id="profile_details_tbody">
                                            <tr>
                                                <td id="profile_details_header_name">Profile name:</td>
                                                <td id="name" class="profile_details_value"></td>
                                            </tr>
                                            <tr>
                                                <td id="profile_details_header_comment">Comments about this file:</td>
                                                <td id="comment" class="profile_details_value"></td>
                                            </tr>
                                            <tr>
                                                <td id="profile_details_header_record_type">Record type:</td>
                                                <td id="record_type" class="profile_details_value"></td>
                                            </tr>
                                            <tr>
                                                <td id="profile_details_header_encoding">Character encoding:</td>
                                                <td id="encoding" class="profile_details_value"></td>
                                            </tr>
                                            <tr>
                                                <td id="profile_details_header_format">Format:</td>
                                                <td id="format" class="profile_details_value"></td>
                                            </tr>
                                            <tr>
                                                <td id="profile_details_header_parse_items">Parse items:</td>
                                                <td id="parse_items" class="profile_details_value"></td>
                                            </tr>
                                            <tr>
                                                <td id="profile_details_header_marc_modification_template_id">Template:</td>
                                                <td id="template" class="profile_details_value"></td>
                                            </tr>
                                            <tr>
                                                <td id="profile_details_header_matcher">Record matching rule:</td>
                                                <td id="matcher" class="profile_details_value"></td>
                                            </tr>
                                            <tr>
                                                <td id="profile_details_header_nomatch_action">Action if matching record found:</td>
                                                <td id="nomatch_action" class="profile_details_value"></td>
                                            </tr>
                                            <tr>
                                                <td id="profile_details_header_overlay_action">Action if no match is found:</td>
                                                <td id="overlay_action" class="profile_details_value"></td>
                                            </tr>
                                            <tr>
                                                <td id="profile_details_header_item_action">How to process items:</td>
                                                <td id="item_action" class="profile_details_value"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="alert alert-info">
                                [% IF available_profiles.count %]
                                Cannot find the batch import profile you are looking for? Consider <a href="/cgi-bin/koha/tools/stage-marc-import.pl">adding</a> one.
                                [% ELSE %]
                                No batch import profiles found, would you like to <a href="/cgi-bin/koha/tools/stage-marc-import.pl">add</a> one?
                                [% END %]
                            </div>
                        </fieldset>
                        <fieldset class="rows">
                            <legend>This configuration applies to:</legend>
                            <label for="filenames">Filenames: </label>
                            <textarea name="filenames">[% filenames | html %]</textarea>
                            <div class="hint">
                                Please list the names of specific MARC files found in the selected transport that you would like this setting to apply to.
                            </div>
                            <div class="hint">
                                You do not need to include file extensions. This list is not case-sensitive.
                            </div>
                            <div class="alert alert-info">
                                If this field is left empty, the selected profile will become the default for the selected transport.
                            </div>
                        </fieldset>
                        <fieldset class="rows">
                            <legend>Import options:</legend>
                            <label for="auto_commit">Auto-commit: </label>
                            <input type="checkbox" name="auto_commit" id="auto_commit" value="1"[% IF auto_commit %] checked="checked"[% END %] />
                            <div class="hint">
                                When enabled, records will be automatically imported (committed) after staging. When disabled, records will only be staged for review.
                            </div>
                        </fieldset>
                         <fieldset class="action">
                             <input type="hidden" name="op" value="save" />
                             [% IF op == 'edit_form' %]
                             <input type="hidden" name="selected_setting_id" value="[% selected_setting_id %]" />
                             <input type="submit" class="btn btn-primary" value="Update Setting" />
                             [% ELSE %]
                             <input type="submit" class="btn btn-primary" value="Save Setting" />
                             [% END %]
                             <a class="cancel" href="/cgi-bin/koha/plugins/run.pl?class=[% CLASS %]&method=[% METHOD %]">Cancel</a>
                         </fieldset>
                    </form>
                [% ELSE %]
                    <div id="toolbar" class="btn-toolbar">
                        <a class="btn btn-default" id="new_automate_marc_import_setting" href="/cgi-bin/koha/plugins/run.pl?class=[% CLASS %]&method=[% METHOD %]&op=add_form"><i class="fa fa-plus"></i> New Automate MARC Import Setting</a>
                    </div>
                    <h1>Automate MARC Import Settings List</h1>
                    [% IF automate_marc_import_plugin_settings_count < 1 %]
                        <div class="alert alert-info" id="dno_servers_message">
                            <p>
                                <em>There are no Automate MARC Import Settings defined.</em><br />
                                To create one, use the <strong>new Automate MARC Import Setting</strong> button above.
                            </p>
                        </div>
                    [% ELSE %]
                        <div class="page-section">
                            <table id="automate_marc_import_setting">
                                <thead>
                                    <tr>
                                        <th>Transport name</th>
                                        <th>Filenames</th>
                                        <th>Profile name</th>
                                        <th>Auto-commit</th>
                                        <th>Comments about this file</th>
                                        <th>Record type</th>
                                        <th>Character encoding</th>
                                        <th>Format</th>
                                        <th>Parse items</th>
                                        <th>Template</th>
                                        <th>Record matching rule</th>
                                        <th>Action if matching record found</th>
                                        <th>Action if no match is found</th>
                                        <th>How to process items</th>
                                        <th data-class-name="actions noExport">Actions</th>
                                    </tr>
                                </thead>
                                <body>
                                    [% FOREACH setting IN automate_marc_import_plugin_settings %]
                                        <tr>
                                            <td id="transport_name_[% setting.id %]">[% setting.transport_name %]</td>
                                            <td id="filenames">[% setting.filenames %]</td>
                                            <td id="profile_name_[% setting.id %]">[% setting.profile_name %]</td>
                                            <td id="auto_commit_[% setting.id %]">[% IF setting.auto_commit %]Yes[% ELSE %]No[% END %]</td>
                                            <td id="profile_comment_[% setting.id %]">[% setting.profile_comment %]</td>
                                            <td id="profile_record_type_[% setting.id %]">[% setting.profile_record_type %]</td>
                                            <td id="profile_character_encoding_[% setting.id %]">[% setting.profile_character_encoding %]</td>
                                            <td id="profile_format_[% setting.id %]">[% setting.profile_format %]</td>
                                            <td id="profile_parse_items_[% setting.id %]">[% setting.profile_parse_items %]</td>
                                            <td id="profile_marc_modification_template_id_[% setting.id %]">[% setting.profile_marc_modification_template_id %]</td>
                                            <td id="profile_record_matching_rule_[% setting.id %]">[% setting.profile_record_matching_rule %]</td>
                                            <td id="profile_nomatch_action_[% setting.id %]">[% setting.profile_nomatch_action %]</td>
                                            <td id="profile_overlay_action_[% setting.id %]">[% setting.profile_overlay_action %]</td>
                                            <td id="profile_item_action_[% setting.id %]">[% setting.profile_item_action %]</td>
                                             <td data-class-name="actions noExport">
                                                 <a class="btn btn-default btn-xs" role="button" href="/cgi-bin/koha/plugins/run.pl?class=[% CLASS %]&method=[% METHOD %]&op=edit&selected_setting_id=[% setting.id %]"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a>
                                                 <a class="btn btn-default btn-xs delete_server" role="button" href="/cgi-bin/koha/plugins/run.pl?class=[% CLASS %]&method=[% METHOD %]&op=delete&selected_setting_id=[% setting.id %]"><i class="fa fa-trash-can" aria-hidden="true"></i>Delete</a>
                                             </td>
                                        </tr>
                                    [% END %]
                                </body>
                            </table>
                        </div>
                        <div class="alert alert-info">
                            Profiles with no filenames specified will be treated as default for the relevant transport, and apply to all MARC files retrieved from it.
                        </div>
                    [% END %]
                [% END %]
            </main>
        </div>
        <div class="col-md-2 order-sm-2 order-md-1">
            <aside> [% INCLUDE 'admin-menu.inc' %] </aside>
        </div>
    
    [% MACRO jsinclude BLOCK %]
        [% Asset.js("js/admin-menu.js") | $raw %]
        [% Asset.js("lib/jquery/plugins/jquery.validate.min.js") | $raw %]
        [% INCLUDE 'select2.inc' %]
        <script>
            $(document).ready(function(){
                const isAddForm = window.location.href.includes('op=add_form');
                const isEditForm = window.location.href.includes('op=edit_form') || window.location.href.includes('op=edit');
                if (!isAddForm && !isEditForm) {
                    return;
                }

                function clearProfileDetails() {
                    $('.profile_details_value').text('');
                }

                function displayProfileDetails(profile) {
                    if (!profile) {
                        clearProfileDetails();
                        return;
                    }
                    $('#name').text(profile.name || '');
                    $('#comment').text(profile.comments || '');
                    $('#item_action').text(profile.item_action || '');
                    $('#record_type').text(profile.record_type || '');
                    $('#encoding').text(profile.encoding || '');
                    $('#format').text(profile.format || '');
                    $('#parse_items').text(profile.parse_items || '');
                    $('#template').text(profile.template_id || '');
                    $('#matcher').text(profile.matcher_id || '');
                    $('#overlay_action').text(profile.overlay_action || '');
                    $('#nomatch_action').text(profile.nomatch_action || '');
                }

                // Store profiles for the change handler
                let profilesById = {};

                getProfiles().then((profiles) => {
                    // Build a lookup map keyed by profile_id (as string) for reliable matching
                    profiles.forEach(p => {
                        profilesById[String(p.profile_id)] = p;
                    });

                    const selectedProfileId = $('#profile_id').val();

                    // Only display profile details if one is already selected (edit form)
                    if (selectedProfileId) {
                        displayProfileDetails(profilesById[selectedProfileId]);
                    }
                });

                // Handle profile selection change using Select2 events
                // Use setTimeout to ensure Select2 has finished initializing
                setTimeout(function() {
                    $('#profile_id').on('select2:select select2:clear change', function() {
                        const selectedId = $(this).val();
                        displayProfileDetails(selectedId ? profilesById[selectedId] : null);
                    });
                }, 0);
            })

            // borrowed from /koha-tmpl/intranet-tmpl/prog/en/modules/tools/stage-marc-import.tt
            const getProfiles = (id) => {
                const select = $("#profile");
                $("option[value!='']", select).remove();
                return new Promise(function(resolve, reject) {
                    $.ajax("/api/v1/import_batch_profiles")
                    .then(resolve, reject)
                })
                .then(function(profiles){
                    return profiles
                });
            }
            
            // Add form validation using jQuery Validate (Koha standard)
            $(document).ready(function(){
                // Only apply validation on the add form
                if (window.location.href.includes('op=add_form') || $('#automate_marc_import_form').length) {
                    $('#automate_marc_import_form').validate({
                        rules: {
                            selected_transport_id: {
                                required: true
                            },
                            profile_id: {
                                required: true
                            }
                        },
                        messages: {
                            selected_transport_id: {
                                required: "Transport selection is required"
                            },
                            profile_id: {
                                required: "Profile selection is required"
                            }
                        },
                        errorPlacement: function(error, element) {
                            error.insertAfter(element.next('.required'));
                        },
                        highlight: function(element, errorClass, validClass) {
                            $(element).addClass('error');
                        },
                        unhighlight: function(element, errorClass, validClass) {
                            $(element).removeClass('error');
                        },
                        submitHandler: function(form) {
                            // Prevent double submission
                            if (form.beenSubmitted) {
                                return false;
                            } else {
                                form.beenSubmitted = true;
                                form.submit();
                            }
                        }
                    });
                }
            });
        </script>
    [% END %]
    </div>
[% INCLUDE 'intranet-bottom.inc' %]
